In [21]:
import datetime
import pandas as pd
import os

In [22]:
cab_data = [
    "yellow_tripdata_2018-01.csv",
    "yellow_tripdata_2018-02.csv",
    "yellow_tripdata_2018-03.csv"
]
cab_data = [
    "out_yellow_2018-01.csv",
    "out_yellow_2018-02.csv",
    "out_yellow_2018-03.csv"
]

In [23]:
# def get_training_data(raw_data):
#     """
#     input: 
#         raw_data: list of .csv files
    
#     output:
#         list of data useful to training
#         [pickup_time, dropoff_time, trip_distance, PUlocationID, DOlocationID, fare_amt]
    
#     """
#     res = []
#     for file in raw_data:
#         file = os.path.join('data', file)
#         print(file)
#         df = pd.read_csv(file)
#         print(len(df.index))
#         for index, row in df.iterrows():
#             if(index % 10000 == 0):
#                 print(index)
#             res.append({'pickup_time': datetime.datetime.strptime(row['tpep_pickup_datetime'], '%Y-%m-%d %H:%M:%S'),
#                         'dropoff_time': datetime.datetime.strptime(row['tpep_dropoff_datetime'], '%Y-%m-%d %H:%M:%S'),
#                         'trip_distance': int(row['trip_distance']),
#                         'PULocationID': row['PULocationID'],
#                         'DOLocationID': row['DOLocationID'],
#                         'fare_amt': int(row['fare_amount']),
#                         'total_profit': int(row['total_amount'])
#                        })
    
#     return pd.Dataframe(res)

In [24]:
df = []
for i in range(3):
    df.append(pd.read_csv(os.path.join("data/", cab_data[i])))

In [25]:
df[0]
print(len(df[0].index))

109495

In [26]:
datetime.datetime.strptime('2018-01-02 12:30:00', '%Y-%m-%d %H:%M:%S').minute

30

In [27]:
df[0].tpep_pickup_datetime[0][:-3]

'2018-01-01 00:21'

In [28]:
res = []
for i in range(3):
    res_list = []
    for index, row in df[i].iterrows():
        if(index % 10000 == 0):
            print(index)
    
        pickup_datetime = datetime.datetime.strptime(row['tpep_pickup_datetime'], '%Y-%m-%d %H:%M:%S')
        dropoff_datetime = datetime.datetime.strptime(row['tpep_dropoff_datetime'], '%Y-%m-%d %H:%M:%S')

        res_list.append({'pickup_date' : row['tpep_pickup_datetime'][:-3], 
                    'pickup_weekday': pickup_datetime.weekday(),
                    'pickup_hour': pickup_datetime.hour,
                    'pickup_min': pickup_datetime.minute,
                    'trip_distance': float(row['trip_distance']),
                    'PULocationID': int(row['PULocationID']),
                    'fare_amt': float(row['fare_amount']),
                    'total_profit': float(row['total_amount'])
                   })
    res.append(res_list)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000

In [29]:
df_output = []
for i in range(3):
    df_output.append(pd.DataFrame(res[i]))

In [30]:
print(len(df_output[0].index))

109495

In [31]:
df_output[0]['PULocationID']

0          41
1         263
2         113
3         211
4         209
5          48
6         107
7         140
8         170
9          90
10        246
11         87
12        144
13        146
14         50
15        186
16        107
17         66
18        229
19         79
20         79
21        263
22        142
23        263
24        236
25        231
26        143
27         48
28        249
29         88
         ...
109465    231
109466    234
109467    138
109468     48
109469    163
109470     43
109471    230
109472    132
109473    142
109474    161
109475    132
109476    246
109477     68
109478     90
109479     87
109480    229
109481    234
109482    193
109483     79
109484    237
109485    230
109486    132
109487    148
109488    142
109489    138
109490    249
109491     10
109492    186
109493    234
109494    151
Name: PULocationID, Length: 109495, dtype: int64

In [32]:
print(list(df_output[0].columns.values))

['PULocationID', 'fare_amt', 'pickup_date', 'pickup_hour', 'pickup_min', 'pickup_weekday', 'total_profit', 'trip_distance']

In [38]:
df_reset = []
for i in range(3):
    df_reset.append(df_output[i].groupby(['pickup_date', 'pickup_hour', 'pickup_min', 'PULocationID', 'pickup_weekday'])['total_profit'].mean().reset_index())

In [39]:

df_reset0 = df_reset[0][("2018-01-01 00:00" <= df_reset[0]['pickup_date']) & (df_reset[0]['pickup_date'] < "2018-02-01 00:00")].reset_index()
df_reset1 = df_reset[1][("2018-02-01 00:00" <= df_reset[1]['pickup_date']) & (df_reset[1]['pickup_date'] < "2018-03-01 00:00")].reset_index()
df_reset2 = df_reset[2][("2018-03-01 00:00" <= df_reset[2]['pickup_date']) & (df_reset[2]['pickup_date'] < "2018-04-01 00:00")].reset_index()

In [40]:
print(df_reset0)
print(df_reset1)
print(df_reset2)
# print(df_reset[2])

         index       pickup_date  pickup_hour  pickup_min  PULocationID  \
0            0  2018-01-01 00:00            0           0            68
1            1  2018-01-01 00:00            0           0           170
2            2  2018-01-01 00:05            0           5           113
3            3  2018-01-01 00:05            0           5           142
4            4  2018-01-01 00:05            0           5           163
5            5  2018-01-01 00:06            0           6            48
6            6  2018-01-01 00:06            0           6           158
7            7  2018-01-01 00:06            0           6           234
8            8  2018-01-01 00:06            0           6           239
9            9  2018-01-01 00:07            0           7            41
10          10  2018-01-01 00:07            0           7            79
11          11  2018-01-01 00:08            0           8           170
12          12  2018-01-01 00:08            0           8           263
13          13  2018-01-01 00:09            0           9            48
14          14  2018-01-01 00:09            0           9            50
15          15  2018-01-01 00:09            0           9           143
16          16  2018-01-01 00:09            0           9           231
17          17  2018-01-01 00:09            0           9           246
18          18  2018-01-01 00:09            0           9           263
19          19  2018-01-01 00:10            0          10            48
20          20  2018-01-01 00:10            0          10           140
21          21  2018-01-01 00:10            0          10           148
22          22  2018-01-01 00:10            0          10           161
23          23  2018-01-01 00:10            0          10           246
24          24  2018-01-01 00:11            0          11            43
25          25  2018-01-01 00:11            0          11            66
26          26  2018-01-01 00:11            0          11           142
27          27  2018-01-01 00:12            0          12            48
28          28  2018-01-01 00:12            0          12            87
29          29  2018-01-01 00:13            0          13           236
...        ...               ...          ...         ...           ...
105070  105070  2018-01-31 23:45           23          45           231
105071  105071  2018-01-31 23:45           23          45           264
105072  105072  2018-01-31 23:46           23          46           132
105073  105073  2018-01-31 23:46           23          46           142
105074  105074  2018-01-31 23:46           23          46           237
105075  105075  2018-01-31 23:47           23          47           229
105076  105076  2018-01-31 23:48           23          48           132
105077  105077  2018-01-31 23:49           23          49            10
105078  105078  2018-01-31 23:49           23          49            43
105079  105079  2018-01-31 23:49           23          49           107
105080  105080  2018-01-31 23:49           23          49           163
105081  105081  2018-01-31 23:49           23          49           234
105082  105082  2018-01-31 23:50           23          50            48
105083  105083  2018-01-31 23:50           23          50           107
105084  105084  2018-01-31 23:50           23          50           114
105085  105085  2018-01-31 23:50           23          50           161
105086  105086  2018-01-31 23:50           23          50           186
105087  105087  2018-01-31 23:50           23          50           230
105088  105088  2018-01-31 23:51           23          51           158
105089  105089  2018-01-31 23:51           23          51           162
105090  105090  2018-01-31 23:53           23          53           142
105091  105091  2018-01-31 23:54           23          54            48
105092  105092  2018-01-31 23:54           23          54           209
105093  105093  2018-01-31 23:55           23          55           234
105094  105094  2018-01-31 23:56           23          56            68
105095  105095  2018-01-31 23:56           23          56           230
105096  105096  2018-01-31 23:57           23          57           162
105097  105097  2018-01-31 23:59           23          59           132
105098  105098  2018-01-31 23:59           23          59           140
105099  105099  2018-01-31 23:59           23          59           239

        pickup_weekday  total_profit
0                    0         4.800
1                    0        15.360
2                    0         5.800
3                    0        14.800
4                    0         9.750
5                    0         6.360
6                    0        17.325
7                    0        25.050
8                    0         5.300
9                    0         8.800
10                   0        20.300
11                   0        43.300
12                   0         9.630
13                   0        19.300
14                   0        21.800
15                   0         8.800
16                   0         9.540
17                   0        12.300
18                   0        10.550
19                   0        19.800
20                   0        16.560
21                   0        15.300
22                   0         9.800
23                   0         9.800
24                   0        10.300
25                   0        30.800
26                   0         8.300
27                   0        19.560
28                   0        33.300
29                   0         6.360
...                ...           ...
105070               2        13.500
105071               2        24.350
105072               2        57.800
105073               2        16.600
105074               2        13.500
105075               2        16.000
105076               2        64.560
105077               2        63.560
105078               2        11.620
105079               2         8.500
105080               2        22.300
105081               2         8.500
105082               2         9.750
105083               2        11.300
105084               2         9.490
105085               2        11.600
105086               2        17.800
105087               2         7.800
105088               2        17.760
105089               2         6.300
105090               2        11.300
105091               2        34.750
105092               2        10.300
105093               2        22.560
105094               2         6.800
105095               2        14.800
105096               2        14.760
105097               2        74.120
105098               2         7.300
105099               2        16.620

[105100 rows x 7 columns]
         index       pickup_date  pickup_hour  pickup_min  PULocationID  \
0            0  2018-02-01 00:00            0           0           114
1            1  2018-02-01 00:00            0           0           186
2            2  2018-02-01 00:01            0           1           145
3            3  2018-02-01 00:01            0           1           211
4            4  2018-02-01 00:02            0           2           107
5            5  2018-02-01 00:02            0           2           140
6            6  2018-02-01 00:02            0           2           230
7            7  2018-02-01 00:02            0           2           231
8            8  2018-02-01 00:03            0           3            79
9            9  2018-02-01 00:03            0           3           113
10          10  2018-02-01 00:03            0           3           164
11          11  2018-02-01 00:03            0           3           186
12          12  2018-02-01 00:04            0           4           125
13          13  2018-02-01 00:04            0           4           249
14          14  2018-02-01 00:05            0           5           142
15          15  2018-02-01 00:05            0           5           170
16          16  2018-02-01 00:07            0           7            48
17          17  2018-02-01 00:07            0           7           138
18          18  2018-02-01 00:08            0           8           230
19          19  2018-02-01 00:08            0           8           261
20          20  2018-02-01 00:09            0           9           163
21          21  2018-02-01 00:10            0          10            68
22          22  2018-02-01 00:10            0          10           144
23          23  2018-02-01 00:10            0          10           237
24          24  2018-02-01 00:11            0          11           230
25          25  2018-02-01 00:11            0          11           264
26          26  2018-02-01 00:12            0          12           163
27          27  2018-02-01 00:13            0          13            97
28          28  2018-02-01 00:15            0          15           137
29          29  2018-02-01 00:17            0          17           239
...        ...               ...          ...         ...           ...
101777  101777  2018-02-28 23:43           23          43            48
101778  101778  2018-02-28 23:43           23          43            79
101779  101779  2018-02-28 23:43           23          43           163
101780  101780  2018-02-28 23:43           23          43           229
101781  101781  2018-02-28 23:43           23          43           262
101782  101782  2018-02-28 23:45           23          45            48
101783  101783  2018-02-28 23:45           23          45           100
101784  101784  2018-02-28 23:45           23          45           230
101785  101785  2018-02-28 23:47           23          47            79
101786  101786  2018-02-28 23:47           23          47           138
101787  101787  2018-02-28 23:47           23          47           142
101788  101788  2018-02-28 23:47           23          47           230
101789  101789  2018-02-28 23:49           23          49           162
101790  101790  2018-02-28 23:49           23          49           186
101791  101791  2018-02-28 23:50           23          50           137
101792  101792  2018-02-28 23:50           23          50           161
101793  101793  2018-02-28 23:51           23          51            79
101794  101794  2018-02-28 23:52           23          52           161
101795  101795  2018-02-28 23:52           23          52           231
101796  101796  2018-02-28 23:53           23          53           138
101797  101797  2018-02-28 23:53           23          53           142
101798  101798  2018-02-28 23:55           23          55           148
101799  101799  2018-02-28 23:55           23          55           163
101800  101800  2018-02-28 23:56           23          56           234
101801  101801  2018-02-28 23:56           23          56           264
101802  101802  2018-02-28 23:57           23          57           125
101803  101803  2018-02-28 23:57           23          57           233
101804  101804  2018-02-28 23:58           23          58           263
101805  101805  2018-02-28 23:59           23          59           162
101806  101806  2018-02-28 23:59           23          59           263

        pickup_weekday  total_profit
0                    3          6.80
1                    3         27.30
2                    3          4.80
3                    3          8.30
4                    3         21.96
5                    3         10.80
6                    3         18.50
7                    3         20.16
8                    3          8.76
9                    3          7.30
10                   3         20.76
11                   3         15.34
12                   3         22.25
13                   3          9.67
14                   3         10.56
15                   3          8.50
16                   3         21.96
17                   3         39.67
18                   3         36.96
19                   3         22.30
20                   3         29.15
21                   3         12.96
22                   3          6.30
23                   3         16.30
24                   3         22.56
25                   3         45.80
26                   3          9.80
27                   3         12.95
28                   3          7.30
29                   3         20.80
...                ...           ...
101777               2         20.30
101778               2         16.55
101779               2         24.30
101780               2          9.96
101781               2         26.75
101782               2          8.40
101783               2         14.30
101784               2         17.80
101785               2          4.80
101786               2         23.30
101787               2         10.54
101788               2          7.54
101789               2          7.25
101790               2         37.40
101791               2          6.96
101792               2         11.76
101793               2          8.16
101794               2         13.55
101795               2          9.35
101796               2         38.16
101797               2          6.30
101798               2         18.36
101799               2         18.95
101800               2          4.80
101801               2         96.00
101802               2          7.80
101803               2          6.00
101804               2          6.96
101805               2         10.55
101806               2          7.80

[101807 rows x 7 columns]
         index       pickup_date  pickup_hour  pickup_min  PULocationID  \
0            0  2018-03-01 00:00            0           0           230
1            1  2018-03-01 00:01            0           1           125
2            2  2018-03-01 00:01            0           1           145
3            3  2018-03-01 00:01            0           1           186
4            4  2018-03-01 00:01            0           1           234
5            5  2018-03-01 00:01            0           1           261
6            6  2018-03-01 00:02            0           2           114
7            7  2018-03-01 00:02            0           2           162
8            8  2018-03-01 00:02            0           2           186
9            9  2018-03-01 00:02            0           2           234
10          10  2018-03-01 00:02            0           2           264
11          11  2018-03-01 00:03            0           3           116
12          12  2018-03-01 00:03            0           3           132
13          13  2018-03-01 00:03            0           3           231
14          14  2018-03-01 00:04            0           4            45
15          15  2018-03-01 00:04            0           4           107
16          16  2018-03-01 00:05            0           5            48
17          17  2018-03-01 00:05            0           5            49
18          18  2018-03-01 00:05            0           5           239
19          19  2018-03-01 00:06            0           6           226
20          20  2018-03-01 00:07            0           7            13
21          21  2018-03-01 00:07            0           7           114
22          22  2018-03-01 00:08            0           8            68
23          23  2018-03-01 00:09            0           9            48
24          24  2018-03-01 00:09            0           9           164
25          25  2018-03-01 00:10            0          10           161
26          26  2018-03-01 00:10            0          10           264
27          27  2018-03-01 00:11            0          11            79
28          28  2018-03-01 00:11            0          11           162
29          29  2018-03-01 00:11            0          11           163
...        ...               ...          ...         ...           ...
113052  113052  2018-03-31 23:44           23          44           166
113053  113053  2018-03-31 23:44           23          44           230
113054  113054  2018-03-31 23:45           23          45            79
113055  113055  2018-03-31 23:45           23          45           143
113056  113056  2018-03-31 23:46           23          46           229
113057  113057  2018-03-31 23:46           23          46           249
113058  113058  2018-03-31 23:48           23          48            41
113059  113059  2018-03-31 23:48           23          48            50
113060  113060  2018-03-31 23:48           23          48           230
113061  113061  2018-03-31 23:49           23          49            43
113062  113062  2018-03-31 23:49           23          49           163
113063  113063  2018-03-31 23:49           23          49           211
113064  113064  2018-03-31 23:50           23          50           142
113065  113065  2018-03-31 23:50           23          50           164
113066  113066  2018-03-31 23:51           23          51           107
113067  113067  2018-03-31 23:51           23          51           249
113068  113068  2018-03-31 23:52           23          52           231
113069  113069  2018-03-31 23:52           23          52           234
113070  113070  2018-03-31 23:53           23          53           211
113071  113071  2018-03-31 23:53           23          53           230
113072  113072  2018-03-31 23:53           23          53           249
113073  113073  2018-03-31 23:54           23          54           144
113074  113074  2018-03-31 23:54           23          54           231
113075  113075  2018-03-31 23:56           23          56           234
113076  113076  2018-03-31 23:56           23          56           239
113077  113077  2018-03-31 23:57           23          57            79
113078  113078  2018-03-31 23:58           23          58           112
113079  113079  2018-03-31 23:59           23          59            90
113080  113080  2018-03-31 23:59           23          59           141
113081  113081  2018-03-31 23:59           23          59           255

        pickup_weekday  total_profit
0                    3         20.30
1                    3         39.95
2                    3          3.80
3                    3         16.55
4                    3         10.30
5                    3         18.95
6                    3         10.50
7                    3         11.30
8                    3         12.00
9                    3         10.30
10                   3         13.56
11                   3          7.30
12                   3         55.88
13                   3         12.96
14                   3          7.80
15                   3          8.19
16                   3         12.95
17                   3          8.30
18                   3         11.76
19                   3          9.80
20                   3         29.75
21                   3          6.36
22                   3         24.30
23                   3         28.99
24                   3         20.30
25                   3          9.36
26                   3          9.95
27                   3          7.80
28                   3          7.30
29                   3          6.96
...                ...           ...
113052               5         15.80
113053               5          8.75
113054               5         16.30
113055               5          9.49
113056               5          5.15
113057               5         13.30
113058               5          8.80
113059               5          7.80
113060               5          8.15
113061               5          9.96
113062               5         -6.30
113063               5         12.96
113064               5         12.80
113065               5         15.80
113066               5         23.76
113067               5         11.16
113068               5          8.30
113069               5         15.93
113070               5          7.30
113071               5         23.16

In [41]:
df_final = df_reset0.append(df_reset1, ignore_index = True)
df_final = df_final.append(df_reset2, ignore_index = True)
df_final

,index,pickup_date,pickup_hour,pickup_min,PULocationID,pickup_weekday,total_profit
0,0,2018-01-01 00:00,0,0,68,0,4.800
1,1,2018-01-01 00:00,0,0,170,0,15.360
2,2,2018-01-01 00:05,0,5,113,0,5.800
3,3,2018-01-01 00:05,0,5,142,0,14.800
4,4,2018-01-01 00:05,0,5,163,0,9.750
5,5,2018-01-01 00:06,0,6,48,0,6.360
6,6,2018-01-01 00:06,0,6,158,0,17.325
7,7,2018-01-01 00:06,0,6,234,0,25.050
8,8,2018-01-01 00:06,0,6,239,0,5.300
9,9,2018-01-01 00:07,0,7,41,0,8.800
10,10,2018-01-01 00:07,0,7,79,0,20.300
11,11,2018-01-01 00:08,0,8,170,0,43.300
12,12,2018-01-01 00:08,0,8,263,0,9.630
13,13,2018-01-01 00:09,0,9,48,0,19.300
14,14,2018-01-01 00:09,0,9,50,0,21.800
15,15,2018-01-01 00:09,0,9,143,0,8.800
16,16,2018-01-01 00:09,0,9,231,0,9.540
17,17,2018-01-01 00:09,0,9,246,0,12.300
18,18,2018-01-01 00:09,0,9,263,0,10.550
19,19,2018-01-01 00:10,0,10,48,0,19.800
20,20,2018-01-01 00:10,0,10,140,0,16.560
21,21,2018-01-01 00:10,0,10,148,0,15.300
22,22,2018-01-01 00:10,0,10,161,0,9.800
23,23,2018-01-01 00:10,0,10,246,0,9.800
24,24,2018-01-01 00:11,0,11,43,0,10.300
25,25,2018-01-01 00:11,0,11,66,0,30.800
26,26,2018-01-01 00:11,0,11,142,0,8.300
27,27,2018-01-01 00:12,0,12,48,0,19.560
28,28,2018-01-01 00:12,0,12,87,0,33.300
29,29,2018-01-01 00:13,0,13,236,0,6.360
...,...,...,...,...,...,...,...
319959,113052,2018-03-31 23:44,23,44,166,5,15.800
319960,113053,2018-03-31 23:44,23,44,230,5,8.750
319961,113054,2018-03-31 23:45,23,45,79,5,16.300
319962,113055,2018-03-31 23:45,23,45,143,5,9.490
319963,113056,2018-03-31 23:46,23,46,229,5,5.150
319964,113057,2018-03-31 23:46,23,46,249,5,13.300
319965,113058,2018-03-31 23:48,23,48,41,5,8.800
319966,113059,2018-03-31 23:48,23,48,50,5,7.800
319967,113060,2018-03-31 23:48,23,48,230,5,8.150
319968,113061,2018-03-31 23:49,23,49,43,5,9.960
319969,113062,2018-03-31 23:49,23,49,163,5,-6.300
319970,113063,2018-03-31 23:49,23,49,211,5,12.960
319971,113064,2018-03-31 23:50,23,50,142,5,12.800
319972,113065,2018-03-31 23:50,23,50,164,5,15.800
319973,113066,2018-03-31 23:51,23,51,107,5,23.760
319974,113067,2018-03-31 23:51,23,51,249,5,11.160
319975,113068,2018-03-31 23:52,23,52,231,5,8.300
319976,113069,2018-03-31 23:52,23,52,234,5,15.930
319977,113070,2018-03-31 23:53,23,53,211,5,7.300
319978,113071,2018-03-31 23:53,23,53,230,5,23.160
319979,113072,2018-03-31 23:53,23,53,249,5,21.360
319980,113073,2018-03-31 23:54,23,54,144,5,18.300
319981,113074,2018-03-31 23:54,23,54,231,5,8.300
319982,113075,2018-03-31 23:56,23,56,234,5,7.300
319983,113076,2018-03-31 23:56,23,56,239,5,10.300
319984,113077,2018-03-31 23:57,23,57,79,5,5.760
319985,113078,2018-03-31 23:58,23,58,112,5,7.300
319986,113079,2018-03-31 23:59,23,59,90,5,9.800
319987,113080,2018-03-31 23:59,23,59,141,5,19.120
319988,113081,2018-03-31 23:59,23,59,255,5,4.800

In [43]:
df_final.to_pickle('processed_data.pkl')

In [44]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
import numpy

ModuleNotFoundError: No module named 'sklearn'

In [162]:
X = df_output.as_matrix(columns=['pickup_weekday', 'pickup_hour', 'pickup_min','PULocationID'])
y = df_output.as_matrix(columns=['total_profit']).ravel()

/Users/jiaoyangli/venv/lib/python3.5/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
/Users/jiaoyangli/venv/lib/python3.5/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [163]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [165]:
model = RandomForestRegressor(n_estimators=20, verbose=2)
model.fit(X_train, y_train)

building tree 1 of 20

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   17.6s remaining:    0.0s

building tree 2 of 20
building tree 3 of 20
building tree 4 of 20
building tree 5 of 20
building tree 6 of 20
building tree 7 of 20
building tree 8 of 20
building tree 9 of 20
building tree 10 of 20
building tree 11 of 20
building tree 12 of 20
building tree 13 of 20
building tree 14 of 20
building tree 15 of 20
building tree 16 of 20
building tree 17 of 20
building tree 18 of 20
building tree 19 of 20
building tree 20 of 20

[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:  5.9min finished

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=20, n_jobs=1, oob_score=False, random_state=None,
           verbose=2, warm_start=False)

In [166]:
r_square = model.score(X_train, y_train)

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    3.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:   58.4s finished

In [151]:
r_square

0.34874310386118135

In [152]:
r_test = model.score(X_test, y_test)

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:   47.6s finished

In [168]:
r_test

0.3538654539472964

In [ ]:
model = SVR(C=1.0, epsilon=0.1, verbose=True)
model.fit(X_train[:10], y_train[:10])

In [ ]:
r_square = model.score(X_train, y_train)

In [ ]:
r_square

In [ ]:
r_test = model.score(X_test, y_test)

In [ ]:
r_test